In [56]:
import requests as req
import datetime
import pandas as pd




#Get the current date time
output_date = datetime.datetime.now().strftime("%Y-%m-%dT%H:%M:%SZ")
val = "YYYY-MM-DD[T]HH:mm:ss"
val = "2022-10-06T10:51:34.765Z"
print(str(output_date))
# Get the data from the API
data = req.get("https://api.data.gov.sg/v1/transport/carpark-availability?date_time=" + val ).json()

# st.write(data)

# data

# with open('outputfile.json', 'w') as outf:
#     outf.write(str(data))

2022-10-07T01:50:34Z

TypeError: write() argument must be str, not dict

In [72]:

df = pd.DataFrame(data['items'][0]['carpark_data'])
carpark_df = df["carpark_info"] 
key_list = []
value_of_carpark = []
for k,v in carpark_df.items():
    # print(k,v)
    # print("")
    for key,value in v[0].items():
        # print(key,value)
        key_list.append(key)
        value_of_carpark.append(value)
        # print("")

# print(value_
# lis,val)

# append every third value of value_of_carpark to the key_list
total_lots =  []
for i in range(0, len(value_of_carpark), 3):
    total_lots.append(value_of_carpark[i])

# print(total_lots)
print()

In [77]:
lot_type_list = []
# every 2nd item append to lot_type_list
for i in range(1, len(value_of_carpark), 3):
    lot_type_list.append(value_of_carpark[i])
lot_type_list

lot_available_list = []
# every 3rd item append to lot_available_list
for i in range(2, len(value_of_carpark), 3):
    lot_available_list.append(value_of_carpark[i])
lot_available_list

print(len(key_list),len(total_lots),len(lot_type_list),len(lot_available_list))

5904 1968 1968 1968

In [79]:
df.shape

(1968, 3)

In [80]:
df["total_lots"] = total_lots
df["lot_type"] = lot_type_list
df["lot_available"] = lot_available_list

df

,carpark_info,carpark_number,update_datetime,total_lots,lot_type,lot_available
0,"[{'total_lots': '105', 'lot_type': 'C', 'lots_...",HE12,2022-10-06T10:51:08,105,C,0
1,"[{'total_lots': '583', 'lot_type': 'C', 'lots_...",HLM,2022-10-06T10:50:55,583,C,83
2,"[{'total_lots': '329', 'lot_type': 'C', 'lots_...",RHM,2022-10-06T10:51:08,329,C,156
3,"[{'total_lots': '97', 'lot_type': 'C', 'lots_a...",BM29,2022-10-06T10:50:50,97,C,0
4,"[{'total_lots': '96', 'lot_type': 'C', 'lots_a...",Q81,2022-10-06T10:51:00,96,C,0
...,...,...,...,...,...,...
1963,"[{'total_lots': '679', 'lot_type': 'C', 'lots_...",B65M,2022-10-06T10:49:55,679,C,501
1964,"[{'total_lots': '5', 'lot_type': 'C', 'lots_av...",B65L,2022-10-06T10:49:55,5,C,0
1965,"[{'total_lots': '306', 'lot_type': 'C', 'lots_...",BE3,2022-10-06T10:48:57,306,C,177
1966,"[{'total_lots': '195', 'lot_type': 'C', 'lots_...",BE3R,2022-10-06T10:48:57,195,C,94
1967,"[{'total_lots': '249', 'lot_type': 'C', 'lots_...",B8B,2022-10-06T10:50:19,249,C,153